<!DOCTYPE html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    <form action="/madlib" method="POST">
        First Name: <input type="text" name="person"><br>
        Choose a color:
            <select name="color">
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="yellow">Yellow</option>
            </select><br>
        Choose a noun: 
            <input type="radio" name="noun" value="dog">Dog
            <input type="radio" name="noun" value="cat">Cat
            <input type="radio" name="noun" value="hedgehog">Hedgehog
            <input type="radio" name="noun" value="balloonicorn">Balloonicorn<br>
        Choose an adjective:
                <input type="checkbox" name="adjective" value="fluffy">fluffy
                <input type="checkbox" name="adjective" value="pinkish">pinkish
                <input type="checkbox" name="adjective" value="pythonic">pythonic
            <br>
            <input type="submit">
    </form>
</body>
</html>